layout {
    tab name="Nvim"{
      pane {
          name "vim"
          focus true
      }
    }
    tab name="Terminal"{
        pane name="term 1"
        pane name="term 2"
    }
    tab name="Git"{
        pane {
          borderless true
          name "lazy git"
        }
    }
  }
